body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.form{
    background-color: lightgrey;
    display: inline-block;
    padding: 10px;
    border: 2px solid black;
    right: 10px;
}
.yes{
    margin: 10px;
}
.no{
    margin: 10px;
}
.try{
    text-align: center;
    color: red;
}
@media (max-width: 1080px) {
    p{
        font-size: 100px;
        padding: 50px;
        margin-bottom: 0;
    }
    .form{
        text-align: center;
        border: 10px solid black;
    }
    .try{
        font-size: 80px;
        text-align: center;
        color: red;
        margin-bottom: 50px;
    }
    .yes{
        font-size: 80px;
        width: 200px;
        height: 110px;
        margin: 0px 125px 125px 125px;
        border: 3px solid black;
    }
    .no{
        font-size: 80px;
        width: 200px;
        margin: 0px 125px 125px 125px;
        border: 3px solid black;
    }
}
