:root {
    font-size: 1vw;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    overflow-wrap: initial;
}
.form{
    text-align: center;
    background-color: lightgrey;
    display: inline-block;
    font-size: 1.3rem;
    padding: 2rem;
    border: 0.2rem solid black;
    right: 1rem;
}
.yes{
    margin: 1rem;
    font-size: 1.3rem;
    padding: 0.5rem;
}
.no{
    margin: 1rem;
    font-size: 1.3rem;
    padding: 0.5rem;
}
.try{
    text-align: center;
    color: red;
}
@media (max-width: 1080px) {
    :root {
        font-size: 1.6vh;
    }
}
